.divRelatorio{
  display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 100vh;
    width: auto;
    grid-column: 2;
    grid-row: 1;
/*
    text-align: center; */
  }
  
  .divRelatorio h2{
    margin: 2.5% auto 3% auto;
    color: #1b4965;
/*
    position: relative; 
    color: #1b4965; 
    top: 6%;*/
  }
  #boxRelatorios{
    /*background-color:gray; */
    margin:auto;
    width: 70%; 
    height: 70%;

  }
  .subBoxRelatorio{
    float: left;
    width: 46%;
    height: 44%;
    border-radius: 15px;
    background-color: var(--cor-primaria);
    margin-bottom: 8%;
    text-align: center;
  }
  .relLeft{
    margin-right: 8%;
  }

  #divRelInternal .fa-5x{
    margin:5% auto auto auto;
    color:  var(--cor-secundaria);
  }
  #divRelInternal{
    margin:auto;
    margin-top: 9%;
    width: 70%;
    height: 50%;
    border-radius: 10px;
    background-color: var(--cor-terciaria);

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
  }

  #divRelInternal p{

    font-size: 60pt;
    text-align: center;
    color: #1b4965;

    transform: translateY(10px);

  }
  #titleRel{
    display: block;
    text-align: center;
    margin: 0 15% 0 15%;
    position:relative; 
    line-height: 100%; 
    top:3%; 
    color: white; 
    width: 70%;
    height: 30%;
    font-weight:bold; 
    cursor: pointer;
  }


  @media (min-width: 320px) and (max-width: 599px) {  
    
    .divRelatorio h2{
      font-size: 90%;
    }   
    #titleRel{
     font-size: 60%;
    }    
  }
  @media (min-width: 600px) and (max-width: 723px) { 
     
    .divRelatorio h2{
      font-size: 100%;
    } 
    #titleRel{
     font-size: 70%;
    }    
  }
  @media (min-width: 716px) and (max-width: 850px) { 
    .divRelatorio h2{
      font-size: 120%;
    }
      
    #titleRel{
     font-size: 80%;
    }    
  }
  @media (min-width: 851px) and (max-width: 1042px) {    
    .divRelatorio h2{
      font-size: 150%;
    }
    #titleRel{
    line-height: 105%;
     font-size: 100%;
    }    
  }
  @media (min-width: 1043px) and (max-width: 1364px) { 
    .divRelatorio h2{
      font-size: 180%;
    }
    #titleRel{
    line-height: 100%;
     font-size: 120%;
    }    
  }
  @media (min-width: 1365px) and (max-width: 1536px) {   
    .divRelatorio h2{
      font-size: 200%;
    }  
    #titleRel{
    line-height: 110%;
     font-size: 120%;
    }    
  }
  @media (min-width: 1537px) and (max-width: 2048px) {    
    .divRelatorio h2{
      font-size: 220%;
    }  
    #titleRel{
    line-height: 130%;
     font-size: 180%;
    }    
  }


  #input-acesso-clientes{

    /* transform: translateX(10px); */
    background-color: #CAE9FF;
    color: #1b4965;

    border: none;
    outline: none;

    position: absolute;
    top: -30px;
    left: 0;

    padding: 2px;
    font-size: 12pt;


  }