h1 {
    font-size: 2.1rem;
    color: #1b4965;
    margin-top: 60px;
    margin-left: 150px;
}

div.content-geral {
    display: flex;
    flex-direction: column;
   height: 100vh;
}

div.content-geral h2 {
    margin: 2.5% auto 3% auto;
    color: #1b4965;
}

.form-selecionar-passagens {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-left: 4%;
    width: 96%;
}
.form-selecionar-passagens .form-control {
   height: 75%;
   border-radius: 5px;
}

.form-selecionar-passagens div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    margin-left: 15px;
}

.form-selecionar-passagens #trocaPesquisa {
  width:8%;
}
.form-selecionar-passagens #botaoTrocarPesquisa{
    margin-top: 3px;
}


.form-selecionar-passagens div a {
    color: #fff;
}


.form-selecionar-passagens input[type="submit"] {
    color: #fff;
    background-color: #135c8a;
    height: 75%;
    border-radius: 10px;
    width: 70%;
    padding: 5px;
}


.venderPassagemParaCPF{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    margin-top: 4%;
    margin-left: 4%;
    width: 50%;
}
.venderPassagemParaCPF div{
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    width: 50%;
}
.venderPassagemParaCPF .blue-three{
    color: #fff;
    background-color: #135c8a;
    height: 75%;
    border-radius: 10px;
    width: 50%;
    padding: 5px;
}

.venderPassagemParaCPF .form-control{
    height: 75%;
   border-radius: 5px;
}







.informaçoes {
    width: 500px;
    height: 450px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0);
    background-color: rgba(95, 168, 211, 0.99);
    margin: 100px auto 0 auto;
    border-radius: 20px;
}

.info {
    text-align: center;
    margin-top: 20px;
    color: rgb(43, 41, 41);
}

.info-last {
    margin-bottom: 20px;
}

form.form-venderPassagens {
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0);
    width: 400px;
    margin: auto;
    background-color: white;
    text-align: center;
}

form.form-venderPassagens input {
    margin-top: 8px;
    margin-bottom: 8px;
}

form.form-venderPassagens input[type="text"] {
    width: 70%;
    height: 30px;
    text-align: center;
    background-color: #CAE9FF;
    border: none;
    border: 1px solid rgb(87, 85, 85);
    box-shadow: 1px 1px 2px rgb(61, 61, 61);
    border-radius: 7px;
}

form.form-venderPassagens label {
    display: block;
    font-size: 18px;
    margin-bottom: 4px;
}

form.form-venderPassagens .button {
    width: 150px;
    height: 40px;
    background-color: #1b4965;
    color: white;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}